black, purple, green, orange, red, yellow, blue
.one {
color :black;
}
.two {
color :purple;
}

.three {
color :green;
}
.four {
color :orange;
}
.five {
color :red;
}
.six {
color :yellow;
} 

.seven {
	color : blue ;
}

